<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metro timer</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <script src="{% static 'js/js.cookie.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="container navbar-default navbar-brand navbar-fixed-top">
        {% if stationsEN %}
            <select name="stationlist" id="selectstation" class="form-group">
                {% for station in stationsEN %}
                    <option value="{{ station }}">{{ station }}</option>
                {% endfor %}
            </select>
            <label class="h5"><input type="checkbox" id="rounding_switch"> Заокруглити вгору (до 5 хв.)</label>
        {% endif %}
    </div>
    <div class="row" style="padding-top: 50px">
        <div id="result_ua" class="col-sm-6"></div>
        <div id="result_en" class="col-sm-6"></div>
    </div>
</div>
<script>
    var selectDOM = document.getElementById('selectstation');
    var rounding_switchDOM = document.getElementById('rounding_switch');

    var response = "";
    function load_times() {
        var xhr = new XMLHttpRequest();
        var csrftoken = Cookies.get('csrftoken');
        xhr.open("POST", '{% url 'post_metrotimer' %}', true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", csrftoken);

        xhr.onreadystatechange = function () {//Call a function when the state changes.
            if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                console.log(xhr.response);
                var response = JSON.parse(xhr.response);
                var result_ua_DOM = document.getElementById('result_ua');
                var result_en_DOM = document.getElementById('result_en');
                result_ua_DOM.innerHTML = '';
                result_en_DOM.innerHTML = '';
                for (var key in response['times_ua']) {
                    var stationDOM = document.createElement('tr');
                    stationDOM.innerHTML = '<td>' + response['times_ua'][key][0] + '</td>' + '<td>' + response['times_ua'][key][1] + '</td>';
                    result_ua_DOM.appendChild(stationDOM);
                }
                for (var key in response['times_en']) {
                    var stationDOM = document.createElement('tr');
                    stationDOM.innerHTML = '<td>' + response['times_en'][key][0] + '</td>' + '<td>' + response['times_en'][key][1] + '</td>';
                    result_en_DOM.appendChild(stationDOM);
                }
            }
        };
        var selectedStation = selectDOM.options[selectDOM.selectedIndex].value;
        var rounding = ''
        if (rounding_switchDOM.checked) rounding='true';

        xhr.send("station=" + selectedStation + '&rounding='+rounding);
    }

    selectDOM.onchange = load_times;
    rounding_switchDOM.onchange = load_times;

</script>

</body>
</html>